<div>
  <h1 style="text-align: center">Rent your Frog Today!</h1>

  <%=render "shared/search" %>

  <%= link_to "New Frog", new_frog_path if user_signed_in? %>

  <div class="card-container">
    <% @frogs.each do |frog| %>
      <%= link_to frog_path(frog) do %>

        <div class="card-trip">
          <%= image_tag frog.photo_url %>
            <div class="card-trip-infos">
                <div>
                  <h2> <strong><%= frog.name %></strong></h2>
                  <p>About: <%=frog.description %></p>
                  <h3>Age: <%= frog.age %></h3>
                  <p>Color: <%= frog.color %><p>
                  <p>Species: <%= frog.species %></p>
                </div>

                <h2 class="card-trip-pricing"> 5 * </h2>
                <p class="card-trip-user avatar-bordered"> ♡ </p>
              </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
