
<div class="container">
    <div class="frog-display col-12 mx-auto bg-primary">
        <div class="frog-title">
            <div class="frog-title-left">
                <%= @frog.name %>
                <%= @frog.species %>
            </div>
            <div class="frog-title-right">
                <p class="btn btn-warning"> Share </p>
                <p class="btn btn-warning"> Save </p>
            </div>
        </div>

    
        <div class="image-box">
            <div class="img-big">
                <img src="https://i0.wp.com/www.australiangeographic.com.au/wp-content/uploads/2022/10/Green-tree-frog_Litoria-caerulea_Ashley-Whitworth-shutterstock-scaled.jpg?resize=1000%2C669&ssl=1", alt="frog-pic" >
            </div>
            <div class="img-small">
                <div class="img-small-top">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Litoria_caerulea_-_Darwin_NT.jpg/1024px-Litoria_caerulea_-_Darwin_NT.jpg", alt="frog-small-1">
                </div>
                <div class="img-small-bottom">
                    <img src="https://i.ytimg.com/vi/Ldx8P4SXkTI/maxresdefault.jpg", alt="frog-small-2">
                    <img src="https://visitdaintree.com.au/files/2025/01/white-lipped-tree-frog-3.jpg", alt="frog-small-3">
                </div>
                <!-- <img src="https://azwp-az-prod-1-ap-southeast-2.s3.amazonaws.com/uploads/2021/08/WLT_FROG_WEB_IMAGES_900x600.jpg", alt="frog-small-4"> -->
            </div>
        
        </div>

        <div class="frog-description">
            <h2> About </h2>
            <p> Name: <%= @frog.name %> </p>
            <p> Species: <%= @frog.species %> </p>
            <p> Gender: <%= @frog.gender %> </p>
            <p> Age: <%= @frog.age %> </p>
            <p> Description: <%= @frog.description %> </p>
            <p> Color: <%= @frog.color %> </p>
        </div
    </div>

    <!-- Add a button to book the frog -->
    <div class="row">
        <div class="col-12 text-center">
        <h2> Book this Frog</h2>
        <%= simple_form_for [@frog, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Reserve", class: "btn btn-primary" %>
        <% end %>
</div>
